@import '../../scss/variables/responsive';

.Graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Graph__wrapper {
    position: relative;
    width: 500px;
    height: 300px;

    @include on-narrow {
        width: 100%;
    }
}
