@import '../../scss/variables/a11y';
@import '../../scss/variables/responsive';

.FeedbacksFilter {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 2rem;

    @include on-narrow {
        flex-direction: column;
    }
}

.FeedbacksFilter__search {
    margin-right: 1rem;

    @include on-narrow {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}