.ErrorMessage {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #16151a;
}

.ErrorMessage__message {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: red;
}

.ErrorMessage__gif {
    position: absolute;
    transform: translate(-50%, -150%);
    top: 50%;
    left: 50%;
}

.ErrorMessage__icon {
    width: 5rem;
    transform: translate(-50%, -50%);
    top: calc(50% - 9rem);
    left: 50%;
    position: absolute;
}